
<div class="footer">
    <div class="warp">
        <div class="items fl">
            <h3><a href="/">网站首页</a></h3>
            <p><a href="{:url('index/contact',['id'=>34])}" ><em></em>单位简介</a></p>
            <p><a href="{:url('index/contact',['id'=>35])}" ><em></em>机构设置</a></p>
            <p><a href="{:url('index/contact',['id'=>36])}" ><em></em>企业文化</a></p>
            <p><a href="{:url('index/contact',['id'=>37])}" ><em></em>通讯录</a></p>
        </div>
        {volist name="nav" id="vo" key="k"}
        <div class="items fl">
            <h3><a href="{if $vo['menu_address']}{$vo.menu_address}{else /} {:url('index/lists',['id'=>$vo.id])} {/if}">{$vo.menu_name}</a></h3>
        </div>
        {/volist}

        <div class="fr qrcode">
            <div class="txt fl">
                {volist name="foot" id="vo" key="k"}
                <a href="{$vo.menu_address}" class="g{$k}">{$vo.menu_name}</a>
                {/volist}
            </div>
            <div class="erwma t_c fr">
                <img src="{$yf_theme_path}public/images/erwma.jpg" alt="中国石油微门户">
                <p>中国石油微门户</p>
            </div>
        </div>
    </div>
</div>
